$c-brown: rgb(195, 146, 97);

$c-lightbrown: rgb(243, 209, 175);

$c-darkbrown: rgb(66, 33, 11);

$c-black: rgb(9, 7, 17);

$c-yellow: rgb(209, 158, 104);

$c-lightyellow: rgb(252, 235, 208);

$c-lightyellow2: rgb(238, 185, 148);

$c-green: rgb(134, 191, 63);

$c-orange: rgb(240, 140, 30);

$c-red: rgb(149, 13, 22);

$c-lightred: rgb(189, 52, 37);

$c-border: rgb(231, 231, 231);

$c-text: rgb(130, 130, 130);

$c-text-fade: rgb(181, 181, 181);

$c-lightgray: rgb(242, 242, 242);

$c-darkgray: rgb(214, 214, 214);

$c-border-fade: rgba(231, 231, 231, 0.5);

$c-black-opacity: rgba(0, 0, 0, 0.8);

$c-white-opacity: rgba(255, 255, 255, 0.5);